<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-heytz-yzs" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-heytz-yzs</name>
    <description>yzs</description>
    <author>yzs</author>
    <keywords>YZS</keywords>
    <license>MIT License</license>
    <js-module name="HeytzYzs" src="www/HeytzYzs.js">
        <clobbers target="cordova.plugins.HeytzYzs"/>
    </js-module>
    <preference name="APP_KEY"/>
    <preference name="APP_SECRET"/>
    <dependency id="cordova-plugin-compat" version="^1.0.0"/>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HeytzYzs">
                <param name="ios-package" value="HeytzYzs"/>
            </feature>
            <preference name="yzsappkey" value="$APP_KEY"/>
            <preference name="yzsappsecret" value="$APP_SECRET"/>
        </config-file>
        <preference name="YZS_USAGE_MICROPHONE" default=" "/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$YZS_USAGE_MICROPHONE</string>
        </config-file>
        <preference name="YZS_USAGE_LOCATION" default=" "/>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$YZS_USAGE_LOCATION</string>
        </config-file>

        <!--<header-file src="src/ios/HeytzYzs.h"/>-->
        <source-file src="src/ios/HeytzYzs.mm"/>

        <header-file src="libs/ios/AudioSource/USCPlayThread.h" target-dir="AudioSource"/>
        <header-file src="libs/ios/AudioSource/USCRecorder.h" target-dir="AudioSource"/>

        <header-file src="libs/ios/USCConstant.h"/>
        <header-file src="libs/ios/USCIAudioSource.h"/>
        <header-file src="libs/ios/USCRecognizer.h"/>
        <!--常量表-->
        <header-file src="libs/ios/USCSpeechConstant.h"/>
        <header-file src="libs/ios/USCSpeechResult.h"/>
        <header-file src="libs/ios/USCSpeechSynthesizer.h"/>
        <header-file src="libs/ios/USCSpeechUnderstander.h"/>
        <header-file src="libs/ios/USCVoiceprintParams.h"/>
        <header-file src="libs/ios/USCVoiceprintRecognizer.h"/>
        <header-file src="libs/ios/USCVoiceprintResult.h"/>
        <source-file framework="true" src="libs/ios/libusc.a"/>

        <!--Frameworks库-->
        <framework src="CoreLocation.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="SystemConfiguration.framework"/>

    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HeytzYzs">
                <param name="android-package" value="com.heytz.yzs.HeytzYzs"/>
            </feature>
            <preference name="yzsappkey" value="$APP_KEY"/>
            <preference name="yzsappsecret" value="$APP_SECRET"/>
        </config-file>
        <source-file src="src/android/HeytzYzs.java" target-dir="src/com/heytz/yzs"/>

        <lib-file src="libs/android/usc.jar"/>
        <!--<source-file src="libs/android/usc.jar" target-dir="libs/"/>-->
        <source-file src="libs/android/armeabi/libuscasr.so" target-dir="libs/armeabi/"/>
        <source-file src="libs/android/armeabi-v7a/libuscasr.so" target-dir="libs/armeabi-v7a/"/>
        <source-file src="libs/android/mips/libuscasr.so" target-dir="libs/mips/"/>
        <source-file src="libs/android/x86/libuscasr.so" target-dir="libs/x86/"/>
        <!--申请权限-->
        <config-file parent="/*" target="AndroidManifest.xml">
            <!--允许应用使用麦克风-->
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <!--获取当前网络状态，优化录音参数及网络参数-->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <!--允许应用联网,发送语音数据至服务器,获得识别结果-->
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <!--获取当前 wifi 状态， 优化录音参数及网络参数-->
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
            <!--获取用户手机的 IMEI，用来唯一标示用户-->
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_CONTACTS"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>
    </platform>
</plugin>